<h1>Collage Page</h1>

<h2><%= link_to "Generate Collage", collages_path, method: :post %></h2>

<div id="collage" class="js-masonry"
  data-masonry-options='{ "itemSelector": ".item", "columnWidth": 100, "gutter": 0, "isFitWidth": false }'>

  <% @photos.each do |photo| %>

      <div class="item">
        <div id="<%= @div_classes.sample %>">
            <img src="<%= photo.image_url %>">
        </div>
      </div>

  <% end %>

</div>

    
