<div class="background">

  <h1>ImagiGames</h1>
    <p id="home_logo"><%= link_to image_tag('/camera.png'), root_path %></p>
  <div id="menu_bar">
  <table>
    <tr>
      <th><a href="http://funny-pictures-louiechristie.herokuapp.com/">*Mustachio*</a></th>
      <th>*Snap'ic*</th>
      <th>*Memimage*</th>
      <th>*<%= link_to 'Instacollage', collages_path %>*</th>
      <th>*<%= link_to 'Facebookline', facebook_api_path %>* (<a href="https://graph.facebook.com/oauth/authorize?client_id=<%= ENV['AUTH_FACEBOOK_KEY'] %>&redirect_uri=http://localhost:3000/apicalls/facebook_auth&scope=user_photos,user_videos,publish_stream">authorize facebook</a> first)</th>
    </tr>
  </table>
  </div>


     
  <div class="heart"> </div>
  <div class="text"></div>

</div>
