<div class="background">

  
  <div id="menu_bar">
    <h1>ImagiGames</h1>
  <table>
    <tr>
      <th>*Mustachio*</th>
      <th>*Snap'ic*</th>
      <th>*Memimage*</th>
      <th>*<%= link_to 'Instacollage', collages_path %>*</th>
      <th>*<%= link_to 'Facebookline', facebook_api_path %>* (<a href="https://graph.facebook.com/oauth/authorize?client_id=<%= ENV['AUTH_FACEBOOK_KEY'] %>&redirect_uri=http://localhost:3000/apicalls/facebook_auth&scope=user_photos,user_videos,publish_stream">authorize facebook</a> first)</th>
    </tr>
  </table>
  </div>


     
  <div class="heart"> </div>
  <div class="text"></div>

</div>
