body {
  text-align: center;
}
#collage {
  display: inline-block;
  width: 80%;
  border: 20px #5f390c solid;
  border-radius: 20px;
  background: url('corkboard.jpg');
  margin: 40px 40px 40px 40px;
  padding: 20px; 
} 

.item #small {
  width: 100px;
}

.item #medium {
  width: 200px;
}

.item #large {
  width: 400px;
}